<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>requests</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
{% block title %}
<h1></h1>
{% endblock %}
{% block input %}
<div class="input_field">
    <form action="" method="post">
        <p>
            <label for="input_data"></label>
            {% block placeholder %}

            {% endblock %}

        </p>
    <p>
        <button type="submit">Выполнить</button>
    </p>
    {% endblock %}

    </form>
</div>

{% block answer %}
{% endblock %}

</body>
</html>